// less shit, all that is to be finetuned here..
@maincolor:white;
@secondcolor:yellow;
@textshadow:black 0.3em 0.3em 0.3em;
@boxshadow:#000 5px 5px 15px;
@bordersize:1px;
@fontstyle:small-caps;



// readable markup, intuitive..
.shadow(box, @box){
	box-shadow: @box;
}
.shadow(text, @text){
	text-shadow:@text;
}

// eliminate raw markup
.fontstyle(){
  font-variant:@fontstyle;
}

.pointer(){
  cursor:pointer;
}

.liststyle(){
  list-style: none;
}

.hide(){
	display:none;
}

// readable markup
.background(){
	background-image: url(/jt.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

// repetetive markup, inherited solution
.border(){
	border:@bordersize solid black;
}

// repetetive markup, inherited solution
.border(@radius){
	.border();
    border-radius:@radius;
}
// just for completeness
.color(@color){
  color:@color;
}

// readability purposes
.gradientfill(@a, @b){
	background:linear-gradient(@a, @b);
}

// repetetive markup
.margin(@top:20px,@bottom:20px){
    margin-bottom:@bottom;
    margin-top:@top;
}
.padding(@size:10px){
	padding:@size
}

// repetetive markup
.text(@align){
	text-align:@align;
}

/* Element styles */
li  			{ 	.pointer(); 	}
ul  			{ 	.liststyle()	}
body		    {
        			.text(center);
        			.fontstyle();
    			}
    
/* Class styles */
.h 				{ 	.hide(); 		}
.jumbotron
    			{
        			.color(@maincolor);
        			.shadow(text, @textshadow);
  					.background();
        			.margin(10px, 20px);
        			.shadow(box, @boxshadow);
        			.border();
    			}

/* Id styles */
#notification 	{ 	.margin(20px, 0px); 	} 
#form 		 	{ 	.margin(0px, 20px); 	}
#form, #list, #detail
    			{
        			.shadow(box, @boxshadow);
        			.border(15px);
        			.text(left);
  					.gradientfill(@secondcolor, @maincolor);
        			.padding();
    			}
    

