// less shit, all that is to be finetuned here..
@maincolor:white;
@secondcolor:yellow;
@textshadow:black 0.3em 0.3em 0.3em;
@boxshadow:#000 5px 5px 15px;
@bordersize:1px;
@fontstyle:small-caps;



// readable markup, intuitive..
.shadow(box, @box){
	box-shadow: @box;
}
.shadow(text, @text){
	text-shadow:@text;
}

// eliminate raw markup
.fontstyle(){
  font-variant:@fontstyle;
}

.pointer(){
  cursor:pointer;
}

.liststyle(){
  list-style: none;
}

.hide(){
	display:none;
}

// readable markup
.background(){
	background-image: url(/jt.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

// repetetive markup, inherited solution
.border(){
	border:@bordersize solid black;
}

// repetetive markup, inherited solution
.border(@radius){
	.border();
    border-radius:@radius;
}
// just for completeness
.color(@color){
  color:@color;
}

// readability purposes
.gradientfill(@a, @b){
	background:linear-gradient(@a, @b);
}

// repetetive markup
.margin(@top:20px,@bottom:20px){
    margin-bottom:@bottom;
    margin-top:@top;
}
.padding(@size:10px){
	padding:@size
}

// repetetive markup
.text(@align){
	text-align:@align;
}

@font-face{
    font-family: 'john';
    src:url('john.otf.ttf');
    
}
/* Element styles */
li  			{ 	.pointer(); 	}
ul  			{ 	.liststyle()	}
footer                  {       font-size:11px; margin-top:20px;padding:10px;color:#515151;background-color:#333;.border(5px);}
body		    {
        			.text(center);
        			.fontstyle();
    			}
                        
header > h1 { font-family: john};
    
/* Class styles */
.h 				{ 	.hide(); 		}
.jumbotron
    			{
        			.color(@maincolor);
        			.shadow(text, @textshadow);
  					.background();
        			.margin(10px, 20px);
        			.shadow(box, @boxshadow);
        			.border(15px);
                                height:200px;
    			}

/* Id styles */
#errors { border:2px solid #cc2222; background-color:#ccaaaa;border-radius:5px;}
#notification 	{ 	.margin(20px, 0px); 	} 
#form, #list, #detail
    			{
                               transition: all 1s ease-in-out 100ms;
        			.shadow(box, @boxshadow);
        			.border(15px);
        			.text(left);
  				.gradientfill(@secondcolor, @maincolor);
        			.padding();
                                position:relative;left:0px;
                                transform:perspective(500px);
    			}
                        
// new stuff                        
a.navbar-inverse, a.navbar-brand { color:white !IMPORTANT;text-shadow: 3px 3px 10px #fff;}
    
.container1 { display:flex;width:960px;margin-left:auto; margin-right:auto;}
.container2 { display:flex;width:960px;margin-left:auto; margin-right:auto;}
.container3 { display:flex;flex:2;}
.container4 { display:flex;width:100%;}
.block      { flex:1;margin:10px;}

@-webkit-keyframes john {
    0% { opacity:0.9; transform:rotatez(-2deg);}
    100% { opacity:1; transform:rotatez(2deg);}
}

            
@media screen and (max-width:960px){
    .container1 { width:100%;-webkit-animation:john 0.5s infinite alternate ease-in-out;}
    .container2 { flex-direction:column;width:100%;}
    #detail { transform:perspective(500px) rotateY(-15deg);left:-15px}
    #list {transform:perspective(500px) rotateY(15deg);left:15px;}
    
}
